<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

<h1>  -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-</h1>
<div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index">Домой</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Каталог</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">Про нас</a>
                </li>
                    </ul>
                  <span class="navbar-text">

                </span>
                </div>
                  </div>
                    </nav>
                    </div>

<div class="container" >
        <h1>Ваш магазин</h1>
        <div class="text-bg-light p-3"></div>

    </div>

    <div class="container">
        <div class="card-group">
  <div class="card">

    <div class="card-body">
      <h3 class="card-title">Плед в виде лаваша - Буррито ⌀150 см.</h3>
      <p class="card-text">Плед в виде лаваша - Буррито ⌀150 см. - описание
Кто из нас откажется завернуться в мягкий теплый плед и на минутку почувствовать себя аппетитной шаурмой!
 Плед в виде лаваша буррито внесет изюминку в любой интерьер и не останется незамеченным. Визуально поджаристо
          -хрустящая лепешка невесомая и невероятно мягкая и приятная на ощупь. Летом буррито можно использовать
          для пикников, а в холодную погоду укутаться в круглое одеялко и представлять себя под палящим мексиканским
          солнцем. Аппетитный плед будет отлично смотреться и на даче, и на пляже. Прекрасный подарок для настоящих
          амигос и мучачос любого пола и возраста! Особенности
            Плед Буррито, это:

            Приятный к телу и на ощупь;
            Легко стирается;
            Реалистичный 3D принт;
            Диаметр 150 см.
            Технические характеристики:
            Диаметр пледа: 150 см.
            Материал: флис, 52% хлопок, 48% полиэстер
            Можно стирать в стиральной машине</p>

      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h3 class="card-title">Жевательная резинка-прикол (разные дизайны)</h3>
      <p class="card-text">Описание и характеристики
Жевательная резинка-прикол (разные дизайны) - описание
Жевательная резинка от всех проблем! Улучшает эмоциональный фон, дарит душевное спокойствие и компенсирует
          недостаточность положительных эмоций. Отличное дополнение к любому подарку! Не оставит равнодушным
          никого! В коробке 14 крупных круглых жевательных резинок с фруктовым вкусом.
 Выбирайте, какой сегодня вам нужен препарат - может быть Узбагаин или Пофигин?
 

Жевательные резинки-приколы и другие жвачки в подарок в Москве в магазине Magicmag</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <h3 class="card-title">Носки для мужчин с прикольными надписями</h3>
      <p class="card-text">Описание и характеристики
Носки для мужчин с прикольными надписями - описание
Fanstuff - молодой и дерзкий отечественный бренд, который всегда будет радовать своего потребителя смелыми
          дизайнерскими решениями! Качественные хлопковые носки с оригинальными и вызывающими принтами не оставят
          никого равнодушным! Отличный подарок для друзей и людей с хорошим чувством юмора! Для самых модных, смелых
          и дерзких!

            Носки одного универсального размера. !
      </p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
    </div>

  </body>
</html>